@use "../base/variables" as *;
@use "../utils/mixins" as *;

.header {
  @include flex(20px);
  justify-content: space-between;
  padding: 20px;
  background-color: $white;
  border-bottom: 1px solid $border-color;
}